<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="permissions" sub_name="product-manager-categories" format="product-manager-categories/:int&lt;category_id,title&gt;/" controller="XR\PM:Permission" context="xr_pm_category_perms" action_prefix="category"/>
  <route route_type="admin" route_prefix="product-manager" controller="XR\PM:ProductManager" context="xrPm"/>
  <route route_type="admin" route_prefix="product-manager" sub_name="categories" format="categories/:int&lt;category_id,title&gt;/" controller="XR\PM:Category" context="xr_pm_categories"/>
  <route route_type="admin" route_prefix="product-manager" sub_name="products" format="products/:int&lt;product_id,product_title&gt;/" controller="XR\PM:Product" context="xr_pm_products"/>
  <route route_type="admin" route_prefix="product-manager" sub_name="products/coupons" format="products/coupons/:int&lt;coupon_id,coupon_title&gt;/" controller="XR\PM:Product" context="xr_pm_product_coupons" action_prefix="coupon"/>
  <route route_type="admin" route_prefix="product-manager" sub_name="products/extras" format="products/extras/:int&lt;extra_id,extra_title&gt;/" controller="XR\PM:Product" context="xr_pm_product_extras" action_prefix="extra"/>
  <route route_type="admin" route_prefix="product-manager" sub_name="products/fields" format="products/fields/:str&lt;field_id&gt;/" controller="XR\PM:ProductField" context="xr_pm_product_fields"/>
  <route route_type="admin" route_prefix="product-manager" sub_name="products/versions" format="products/versions/:int&lt;product_version_id&gt;/" controller="XR\PM:Product" context="xr_pm_product_versions" action_prefix="version"/>
  <route route_type="admin" route_prefix="product-manager" sub_name="purchases" format="purchases/:int&lt;purchase_id,license_name&gt;/" controller="XR\PM:Purchase" context="xr_pm_purchases"/>
  <route route_type="public" route_prefix="products" format=":int&lt;product_id,product_title&gt;" controller="XR\PM:Product" context="xr_pm_products"/>
  <route route_type="public" route_prefix="products" sub_name="categories" format="categories/:int&lt;category_id,title&gt;/" controller="XR\PM:Category" context="xr_pm_products"/>
  <route route_type="public" route_prefix="products" sub_name="purchase" format="purchase/:int&lt;purchase_id,license_name&gt;" controller="XR\PM:Product" context="xr_pm_products" action_prefix="purchase"/>
  <route route_type="public" route_prefix="products" sub_name="version" format=":+int&lt;product_id,product_title&gt;/version/:+int&lt;product_version_id&gt;/" controller="XR\PM:Product" context="xr_pm_products" action_prefix="version"/>
</routes>
