<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="em" sub_name="bb-codes" format="bb-codes/:str&lt;bb_code_id&gt;/" controller="KL\EditorManager:BBCodes" context="emBBCode"/>
  <route route_type="admin" route_prefix="em" sub_name="dropdowns" format="dropdowns/:int&lt;dropdown_id,title&gt;" controller="KL\EditorManager:Dropdowns" context="emLayout"/>
  <route route_type="admin" route_prefix="em" sub_name="fonts" format="fonts/:str&lt;font_id&gt;/" controller="KL\EditorManager:Fonts" context="emFonts"/>
  <route route_type="admin" route_prefix="em" sub_name="layout" format="layout/" controller="KL\EditorManager:Layout" context="emLayout"/>
  <route route_type="admin" route_prefix="em" sub_name="options" format="options/" controller="KL\EditorManager:Options" context="emOptions"/>
  <route route_type="admin" route_prefix="em" sub_name="special-chars" format="special-chars/:int&lt;group_id&gt;/" controller="KL\EditorManager:SpecialChars" context="klEMSpecialChars"/>
  <route route_type="admin" route_prefix="em" sub_name="special-chars/characters" format="special-chars/:int&lt;group_id&gt;/characters/:int&lt;character_id&gt;" controller="KL\EditorManager:SpecialChars" context="klEMSpecialChars" action_prefix="character"/>
  <route route_type="admin" route_prefix="em" sub_name="templates" format="templates/:int&lt;template_id,title&gt;/" controller="KL\EditorManager:Templates" context="emTemplates"/>
  <route route_type="admin" route_prefix="logs" sub_name="audio-proxy" format="audio-proxy/:int&lt;audio_id&gt;" controller="XF:Log" context="klEMAudioProxyLog" action_prefix="AudioProxy"/>
  <route route_type="admin" route_prefix="logs" sub_name="video-proxy" format="video-proxy/:int&lt;video_id&gt;" controller="XF:Log" context="klEMVideoProxyLog" action_prefix="VideoProxy"/>
  <route route_type="public" route_prefix="account" sub_name="editor-templates" format="editor-templates/:int&lt;template_id,title&gt;/" controller="KL\EditorManager:Templates"/>
</routes>
