#	Mod_security can interfere with uploading of content such as attachments. If you
#	cannot attach files, remove the "#" from the lines below.
#<IfModule mod_security.c>
#	SecFilterEngine Off
#	SecFilterScanPOST Off
#</IfModule>

ErrorDocument 400 error.shtml
ErrorDocument 401 error.shtml
ErrorDocument 402 error.shtml
ErrorDocument 403 error.shtml
ErrorDocument 404 error.shtml
ErrorDocument 405 error.shtml
ErrorDocument 406 error.shtml
ErrorDocument 407 error.shtml
ErrorDocument 408 error.shtml
ErrorDocument 409 error.shtml
ErrorDocument 410 error.shtml
ErrorDocument 411 error.shtml
ErrorDocument 412 error.shtml
ErrorDocument 413 error.shtml
ErrorDocument 414 error.shtml
ErrorDocument 415 error.shtml
ErrorDocument 416 error.shtml
ErrorDocument 417 error.shtml
ErrorDocument 422 error.shtml
ErrorDocument 423 error.shtml
ErrorDocument 424 error.shtml
ErrorDocument 500 error.shtml
ErrorDocument 501 error.shtml
ErrorDocument 502 error.shtml
ErrorDocument 503 error.shtml
ErrorDocument 504 error.shtml
ErrorDocument 505 error.shtml
ErrorDocument 506 error.shtml
ErrorDocument 507 error.shtml
ErrorDocument 510 error.shtml

<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/webp "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"

  # Video
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/mpeg "access plus 1 month"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	#	If you are having problems with the rewrite rules, remove the "#" from the
	#	line that begins "RewriteBase" below. You will also have to change the path
	#	of the rewrite to reflect the path to your XenForo installation.
	#RewriteBase /xenforo

	#	This line may be needed to enable WebDAV editing with PHP as a CGI.
	#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
	RewriteRule ^.*$ - [NC,L]
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
	RewriteRule ^(data/|js/|styles/|install/|favicon\.ico|crossdomain\.xml|robots\.txt) - [NC,L]
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule .* https://www.paladin-extensions.com%{REQUEST_URI} [R,L]

Header set Strict-Transport-Security "max-age=31557600; includeSubDomains"
